*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #092B3A;
}
input{
    height: 4vh;
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid black;
    width: 75%;
    margin-top: 5%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}

/* FORMULAIRE POUR L'INSCRIPTION DES UTILISATEURS */
.container{
    margin-left: 12%;
    margin-top: 5%;
    display: flex;
}
.container .image img{
    height: 80vh;
    margin: 0 auto;
}
.form-connexion{
    background-color: white;
    width: 25%;
    height: 80vh;
}
.form-connexion i:nth-child(1){
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 15%;
    margin-top: 4%;
}
.form-connexion .EmailConnexion i, .form-connexion .PasswordConnexion i{
    margin-left: 3%;
}
.form-connexion .EmailConnexion{
    margin-bottom: 5%;
}
.form-connexion .PasswordConnexion{
    margin-bottom: 5%;
}
.EmailConnexion ,.PasswordConnexion{
    
    margin-left: 10%;
}
button{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 40%;
    height: 5vh;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: #E5B406;
    color: black;
    border: none;
}



/* les autres methodes de connexion aux comptes */
.form-connexion .facebook,.form-connexion .google{
    display: flex;
    width: 80%;
    height: 5vh;
    margin: 0 auto;
    cursor: pointer;

}
.form-connexion .facebook{
    margin-top: 5%;
    margin-bottom: 2%;
}
.form-connexion .facebook i ,.form-connexion .google i{
    font-size: 1.2rem;
    padding-top: 2%;
    padding-left: 2%;
}
.form-connexion .facebook p ,.form-connexion .google p{
    font-size: 1rem;
    padding-top: 2%;
    padding-left: 2%;
}
.form-connexion .google {
    background-color: #E95151;
    margin-bottom: 5%;
}
.form-connexion .facebook {
    background-color: #5E81FF;
}