*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #092B3A;
}
input{
    height: 4vh;
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid black;
    width: 75%;
    margin-top: 3%;
}
label{
    
}
input:focus-within{
    border: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}

/* FORMULAIRE POUR L'INSCRIPTION DES UTILISATEURS */
.container{
    margin: 0 auto;
    padding-top: 2%;
    display: flex;
}
.container .image img{
    height: 80vh;
    margin: 0 auto;
}
.form-inscription{
    background-color: white;
    width: 25%;
    height: 90vh;
    margin: 0 auto;
}
.form-inscription i:nth-child(1){
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}
.form-inscription .EmailInscription i, .form-inscription .Password_inscription i, .form-inscription .Email_confirme_inscription i,.form-inscription .nameInscription i , .form-inscription .prenomInscription i {
    margin-left: 3%;
}

.form-inscription .EmailInscription{
    margin-bottom: 5%;
}
.form-inscription .Password_inscription , .form-inscription .nameInscription , .form-inscription .prenomInscription{
    margin-bottom: 5%;
}
.EmailInscription ,.Password_inscription ,.Email_confirme_inscription , .form-inscription .nameInscription , .form-inscription .prenomInscription{
    
    margin-left: 10%;
}
button{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 40%;
    height: 5vh;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: #E5B406;
    color: black;
    border: none;
}

.form-inscription p{
    margin-top: 2%;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media screen and (max-width : 1200px) {
    .form-inscription{
        background-color: white;
        width: 30%;
        height: 80vh;
    }
    .form-inscription p{
        margin-top: 5%;
    }
    .form-inscription i:nth-child(1){
        font-size: 5rem;
        margin-bottom: 10%;
        margin-top: 4%;
    }
}
@media screen and (max-width : 1010px) {
    .form-inscription{
        background-color: white;
        width: 30%;
        height: 80vh;
    }
    .container .image img{
        width: 40%;
    }
    .form-inscription p{
        margin-top: 8%;
    }
    .form-inscription i:nth-child(1){
        font-size: 5rem;
        margin-bottom: 10%;
        margin-top: 4%;
    }
    .form-inscription .lastP{
        font-size: .9rem;
    }
}