* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  position: relative;
  box-shadow: 0 0 30px -20px #223344;
  margin: auto;
  z-index: 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
  display: block;
  width: 100%;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  border-radius: 0 8px 8px 0;
  background: rgba(173, 216, 230, 0.1);
  user-select: none;
}
.next {
  right: 0;
  border-radius: 8px 0 0 8px;
}
.prev:hover,
.next:hover {
  background-color: rgba(173, 216, 230, 0.3);
}

/* Caption text */
.text {
  color: #f2f2f2;
  /* backdrop-filter: blur(6px); */
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 20%;
  margin-left: 100px;
  bottom: 60px;
  /* left: 50%;
  transform: translate(-50%); */
  text-align: center;
  display: flex;
  flex-direction: column;
}
.text > h5 {
  font-size: 1.6rem;
  width: 40%;
}
.text .suivant {
  border: 1px solid #000;
  margin: 60px auto;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #092b3a;
  background-size: 400%;
  color: #fff;
  border: none;
  border: 1px solid #e5b406;
}
.suivant:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
  color: white;
}

.suivant::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(to right, #e5b406, #092b3a);
  transition: all 0.475s;
}

/* Number text */
.number {
  color: #f2f2f2;
  font-size: 16px;
  backdrop-filter: blur(6px);
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

/* The dots/bullets/indicators */
.dots {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 4px;
  background-color: rgba(173, 216, 230, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}
.active,
.dots:hover {
  background-color: rgba(173, 216, 230, 0.8);
}

/* transition animation */
.animate {
  -webkit-animation-name: animate;
  -webkit-animation-duration: 1s;
  animation-name: animate;
  animation-duration: 2s;
}

/* @keyframes animate {
  from {
    transform: scale(1.1) rotateY(10deg);
  }
  to {
    transform: scale(1) rotateY(0deg);
  }
} */

/* carousel End */

/*section2*/
.main-acc {
  width: 100%;
  height: auto;
  border: 1px solid black;
}
.carte-acc {
  width: 100%;
  height: auto;
  display: flex;
  padding: auto;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  padding: 20px;
}
.compt-client a {
  color: #000;
}

.inff-serv {
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 50px;
}
.inff-serv h2 {
  font-size: 1.4rem;
}
.inff-serv .barre {
  width: 80px;
  height: auto;
  padding: 5px;
  margin: 4px auto;
  border-radius: 5px;
  background-color: #092b3a;
}
.aid-span .aide {
  background-color: darkslategray;
  height: 10px;
  width: 100%;
  border-radius: 100px;
}
.logo {
  color: #eed620;
}
.aid-span a {
  color: black;
  font-size: 20px;
}
.aid-span.aide {
  height: 500px;
  width: 400px;
  /* background-color: aquamarine; */
}

.form-acc {
  height: auto;
  width: 350px;
  background: #fff;
  box-shadow: 4px 3px 3px 3px rgba(194, 188, 188, 0.985);
  cursor: pointer;
  position: relative;
}
.form-acc h4 {
  color: #fff;
  font-size: 1.4rem;
  position: absolute;
  /* margin-top: 8%;
  margin-left: 2%; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.form-acc img {
  height: 300px;
  width: 100%;
  opacity: 1;
}
.form-acc p {
  padding: 30px;
  font-size: 1.2rem;
}
/* moove plus */
.learn-more {
  position: relative;
  display: block;
  cursor: pointer;
  outline: none;
  border: 0;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin: 10px auto;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}
.dec-puce {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  position: relative;
}

.bloc-texte {
  position: absolute;
  height: auto;
  width: 400px;
  background: #fff;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px;
}

.bloc-texte p {
  text-align: center;
  font-size: 1.6rem;
  color: rgb(3, 2, 2);
  word-wrap: break-word;
  /* position: absolute; */
}
@media screen and (max-width: 600px) {
  .bloc-texte {
    width: auto;
    padding: 20px;
  }
  .bloc-texte p {
    font-size: 1.2rem;
  }
}
.card-el {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.form-puce {
  height: 700px;
  width: 600px;
  /* background-color: aquamarine; */
}
.form-puce img {
  width: 100%;
  height: 500px;
}
.bgran-security {
  height: auto;
  width: 100%;
  margin-top: 20px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px;
}
.op-security {
  margin-top: -12%;
  height: 600px;
  width: 100%;
  background-color: #000;
}
.op-security img {
  width: 100%;
  height: 500px;
  opacity: 0.2;
}

.op-security h2 {
  position: absolute;
  margin-top: 10%;
  margin-left: 35%;
  color: #fff;
  font-size: 2.5rem;
}
.icons-op {
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
  margin: 0px auto;
  flex-wrap: wrap;
  padding: auto;
}
.icon-op {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.icon-op h4 {
  padding-top: -10%;
  font-size: 1.3rem;
}
.icon-op img {
  margin-top: 30%;
  width: 124px;
  border-radius: 100%;
  border: 4px solid #eed620;
}

@media screen and (max-width: 480px) {
  .slide h6 {
    font-size: 0.5rem;
    position: absolute;
    color: #fff;
    margin-top: 3%;
    margin-left: 15%;
  }
  .slide h5 {
    text-align: center;
    margin-top: 10%;
    margin-left: 7%;
    position: absolute;
    font-size: 1rem;
    color: #fff;
    width: 30%;
  }

  .icons-op {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    gap: 10%;
  }
  .bgran-security {
    height: 50%;
    width: 50%;
    margin-top: 15px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px;
  }
  .op-security {
    margin-top: -20%;
    height: 90%;
    width: 50%;
    background-color: #000;
  }
}
