*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slide h6{
  font-size: 1.7rem;
  position: absolute;
  color: #fff;
  margin-top: 3%;
  margin-left: 15%;
}

.slide h5{
 text-align: center;
  margin-top: 10%;
  margin-left: 7%;
  position: absolute;
  font-size: 2rem;
  color: #fff;
  width: 40%;
}
.slid_span{
  padding-top: 8px;
  padding-left: 1.5%;
  position: absolute;
  font-size: 1.5rem;
  height: 60px;
  width: 80px;
  color: #fff;
  background-color: #092B3A;
  margin-top: 26%;
  margin-left: 20%;
  border: 2px solid #eed620;
  border-radius: 30px;

}

/* .carousel {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.slider-button {
  font-size: 1rem;
  padding: 5px 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--unhover-background-color);
  border: 2px solid var(--unhover-border-color);
  color: var(--unhover-text-color);
  z-index: 10;
  cursor: pointer;
} */

/* .slider-button-prev {
  left: 2rem;
}

.slider-button-next {
  right: 2rem;
}

.slider-button:hover,
.slider-button:focus {
  background-color: var(--hover-background-color);
  border: 2px solid var(--hover-border-color);
  color: var(--hover-text-color);
}

ul.slides {
  list-style-type: none;
  height: 100%;
  width: 100%;
} */

/* li.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity var(--transition-delay);
  transition-delay: var(--transition-delay);
} */
/* .slide {
  width: 100%;
  height: auto;
}



li.slide[data-active-slide] {
  opacity: 1;
} */

/* .slides-circles {
  display: flex;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.slides-circles > div {
  height: 20px;
  width: 20px;
  margin: 10px;
  border: 3px solid white;
  border-radius: 50%;
  transition: background-color var(--transition-delay);
  transition-delay: var(--transition-delay);
}

.slides-circles > div[data-active-slide] {
  background-color: white;
} */


.carousel {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.slide > img {
  height: 100%;
  width: 100%;
}

.compts{
  margin-top: -10%;
  position: absolute;
  display: flex;
}

.compt-client a{
  font-size: 1.5rem;
}
/*section2*/
.carte-acc {
  display: flex;
  padding: 30px;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
}
.compt-client a{
  color: #000;
}

.inff-serv{
  margin-top: -10%;
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.aid-span .aide{
  background-color: darkslategray;
  height: 10px;
  width: 100%;
  border-radius: 100px; 
  
}
.logo{
  color: #eed620;
}
.aid-span a{
  color: black;
  font-size: 20px;
}
.aid-span.aide{
  height: 500px;
  width: 400px;
  /* background-color: aquamarine; */
}

.form-acc {
  height: 500px;
  width: 400px;
  background: #fff;
  box-shadow: 4px 3px 3px 3px rgba(194, 188, 188, 0.985);
  cursor: pointer;
  transition: all .5s ease;
}
.form-acc h4 {
  color: #fff;
  font-size: 1.6rem;
  position: absolute;
  margin-top: 8%;
  margin-left: 2%;
}

.form-acc img{
  height: 300px;
  width: 100%;
  opacity: 1;
}
.form-acc p{
  font-size: 1.2rem;
}
.btn_plus{
  height: 40px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 1.5%;
  padding-left: 4%;
  background-color: #092B3A;
}

.btn_plus a{
  color: #eed620;
}

.btn_plus .vplus{
  font-size: 1.5rem;
  text-align: center;
  margin-top: -5%;
  
  
} 
.btn_plus .bx {
  font-size: 30px;
  margin-top: 3%;
  margin-left: 40%;
  
}

.dec-puce {
 justify-content: center;
  /* background-color: aqua; */
  display: flex;
  margin-bottom: 5%;
}

.bloc-texte{
  position: absolute;
  height: 289px;
  width: 396px;
  margin-top: 4%;
  margin-left: 5%;
  background:#fff;
  /* border: 1px solid #000; */

}

.bloc-texte p{
  font-size: 2rem;
  margin-top: 20%;
  margin-left: 12%;
  color: rgb(3, 2, 2);
  position: absolute;
}

.form-puce{
  height: 700px;
  width: 600px;
  /* background-color: aquamarine; */
}
.form-puce img{
  width: 100%;
  height: 500px;
}
.bgran-security{
  height: 600px;
  width: 100%;
  margin-top: 20px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px;
}
.op-security{
  margin-top: -12%;
  height: 600px;
  width: 100%;
  background-color: #000;
}
.op-security img{
  width: 100%;
  height: 500px;
  opacity: 0.2;
}

.op-security h2{
  position: absolute;
  margin-top: 10%;
  margin-left: 35%;
  color: #fff;
  font-size: 2.5rem;
}
.icons-op{
  margin-top: 2%;
  display: flex;
  justify-content: center;
  gap: 20%;
}
.icon-op h4{
  padding-top: -10%;
  font-size: 1.5rem;
}
.icon-op img{
  margin-top: 30%;
  width: 124px;
  border-radius: 100%;
  border: 4px solid #eed620;
}
@media screen and (max-width:480px){
  .slide h6{
    font-size: .5rem;
    position: absolute;
    color: #fff;
    margin-top: 3%;
    margin-left: 15%;
  }
  .slide h5 {
    text-align: center;
    margin-top: 10%;
    margin-left: 7%;
    position: absolute;
    font-size: 1rem;
    color: #fff;
    width: 30%;
}
  
  .icons-op {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    gap: 10%;
}
.bgran-security{
  height: 50%;
  width: 50%;
  margin-top: 15px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px;
}
.op-security{
  margin-top: -20%;
  height: 90%;
  width: 50%;
  background-color: #000;
}
}